.container{
	background:#40F1FF;
	margin:auto;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	padding: 60px 20px 20px;
	width: 900px;
	height: 400px;
}
button{
	background-color: #9966ff;
	border:none;
	text-align: center;
	font-size: 20px;
	padding: 10px;
	border-radius: 15px;
	color:white;
	outline: none;
	box-shadow: 0 9px #0000ff;

}
button:active{
	transform: translateY(4px);
}